@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(12,12,12,0.6);
    padding: 30px 30px;
    max-width: 300px;
}

.container:hover{
    box-shadow: 5px 6px 14px 2px rgb(12,12,12);
}

.image{
    margin-bottom: 26px;
}

.title{
    font-size: 20px;
    font-weight: 700;
}

.description{
    margin-top: 6px;
    font-size: 17px;
    font-weight: 300;
}

.skills{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill{
    font-size: 15px;
    font-weight: 300;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}

.links{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.link{
    text-decoration: none;
    color: var(--color-text);
    font-size: 15px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-primary);
    /* width: 80%; */
    align-items: center;
    padding: 1px 60px;
}