@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-left: 7%;
    margin-right:7%;
    margin-top: 15px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    margin-top: 50px;
    width: 50%;
}

.hello{
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 300;
}

.introText{
    font-size: 45px;
    margin-bottom: 10px;
}

.introName{
    color: yellow;
    font-size: 48px;
    font-weight: 900;
}

.description{
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 1px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.contactBtn{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 18px;
    height: 50px;
}

.downloadBtn{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 18px;
    height: 50px;
}

.heroImg{
    z-index: -1;
    right: 0;
    object-fit: cover;
    height: 110vh;
}


@media screen and (max-width: 970px) {
    .container{
        flex-direction: column-reverse;
    }
    .heroImg{
        position: absolute;
        right: -3rem;
        z-index: -1;
        top: -4rem;
        object-fit: cover;
        height: 100vh;
    }
    .buttons {
        flex-direction: column;
        align-items: center;
    }

}