@import "../../vars.css";

.contactPage{
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}

.contactPageTitle{
    font-size: 45px;
}

.contactDesc{
    padding: 10px;
    font-size: 17px;
    font-weight: 300;
}

.contactForm{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 650px;
}

.name, .email, .msg{
    font-size: 15px;
    width: 100%;
    max-width: 550px;
    margin: 5px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 10px;
    background: rgb(40, 40, 40);
}

.submitBtn{
    background: white;
    border: none;
    border-radius: 10px;
    margin: 30px;
    font-size: 15px;
    padding: 10px 50px;
}

.submitBtn:hover{
    cursor: pointer;
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}

.link{
    margin: 0 30px;   
}

.platformImage{
    object-fit: cover;
    height: 40px;
}