@import "../../vars.css";

.navbar {
    background: rgb(30, 30, 30) ;
    height: 70px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 10px;
    z-index: 2;
    width: 100%;
}

.title{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    position: absolute;
    left: 7%;
    padding-bottom: 5px;
}

.menu {
    display: flex;
}

.menuBtn{
    display: none;
}

.menuItems{
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItem{
    border-bottom: 3px solid var(--color-bg);
}

.menuItem:hover{
    color: yellow;
    border-bottom: 3px solid yellow;
}

.menuItems a{
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;
}


@media screen and (max-width: 970px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 20px;
    }

    .menu{
        position: absolute;
        right: 0;
        margin-right: 7%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn{
        display: block;
        cursor: pointer;
    }

    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(40,40,40, 0.95);
        margin-top: 200px;
        padding: 24px 33px;
    }

    .menuItem{
        border-bottom: none;
    }

    .menuOpen {
     display: flex;
     z-index: 1;   
    }
}