@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* .content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
} */

/* .skills{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer{
   background-color: var(--color-secondary);
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 120px; 
   height: 120px;
}

.skillImageContainer img{
    width: 75px;
}
.skill p{
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
} */

.history{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.historyItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 100px; */
    background: rgba(12,12,12,0.4);
    border-radius: 15px; 
    padding: 24px;
}

.historyItem:hover{
    box-shadow: 5px 6px 14px 2px rgb(12,12,12);
}

.historyItem img{
    width: 70px;
    margin: 0 auto;
    margin: 4rem;
}

.historyItemDetails{
    font-family: var(--font-roboto);
}
.historyItemDetails h3{
    font-size: 25px;
    font-weight: 500;
}
.historyItemDetails p{
    font-size: 15px;
    font-weight: 300;
}

.historyItemDetails ul{
    margin-top: 10px;
    list-style-position: inside;
    font-size: 17px;
    font-weight: 300;
    list-style-type: disc;
    margin-left: 20px;
}

.historyItemDetails li{
    margin-bottom: 5px;
}

@media screen and (max-width: 830px) {
    .content{
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
    .skills{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .history{
        width: 100%;
        gap: 9px;
    }
    .historyItem{
        width: 100%;
        flex-direction: column;
    }
    .historyItem img{
        margin: 4rem;
    }
}