:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: rgb(30, 30, 30);

    /* Fonts */
    --font-roboto: "Roboto";
}   